<!DOCTYPE html>
<html lang="en">
    {{>head}}
    <body>
         <div class="wrapper">
        {{>navbar}}
        <div class="container">
            {{{body}}}
        </div>
        {{>footer}}
        </div>
    </body>
</html>