.nav-wrapper {
    padding: 0 2rem;
}

.price {
    font-size: 1.5rem;
    padding-left: 10px;
}

.course {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course h1 {
    margin-bottom: 2rem;
}

.course img {
    min-width: 600px;
    height: auto;
} 

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  body {
    min-height: calc(100vh - 80px);
  }

  .footer-content {
      height: 80px;
      text-align: center;
  }

  .footer-content h1{
    font-size: 18px;
}

  .wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

 .container {
 	flex: 1 0 auto;
}

 .footer {
	flex: 0 0 auto;
}